.card-container{
    display: flex;
    padding: 5%;
}
.card{
    padding: 15px;
    margin: 15px;
    border: 1px solid #999;
    box-shadow: 0 0 2px 1px #999;
}
.card:hover{
    box-shadow: 0 0 5px 2px #999;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.btn-container{
    text-align: right;
}
.btn{
    width: 25%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(10,10,54);
    color: white;
    transition: all 0.5s ease;
}
.btn:hover{
    color: rgb(10,10,54);
    background-color: transparent;
    cursor: pointer;
    border: 0.5px solid rgb(10,10,54);
}